/* Blue used: 007ac2 */
html, body {
  height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,.8);
    font-weight: 400;
    line-height: 1.55em;
    padding-top: 60px;
}

.timeline {
  padding-top: 50px;
}

.timeline text {
  font-weight: normal !important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

.content img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
}

.indented {
    padding-left: 30px;
}

/* Typograph */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.55em;
    color: rgba(0,0,0,.8);
    margin-top: 35px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h1.jumbo {
    text-transform: uppercase;
}
h1.jumbo:first-letter { font-size: 1.5em; }

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

a {
    color: #007ac2;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
}
a:focus { color: #343434; outline: thin dotted; }
a:hover, a:active { color: #343434; outline: none; }
a:active, input.button:active { outline: 0; position: relative; top: 1px; }

/* Stuff */

.thumbnails {
  padding-top: 20px;
}

.thumbnail {
    color: #333;
    float: left;
    line-height: 1.55em;
    display: block;
    padding: 5px 10px 5px 10px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    border-radius: 3px;
}

.thumbnail .caption {
    color: #333;
}

ul.thumbnails li{
    list-style: none;
}

.breadcrumb {
    background: none;
    padding: 4px 14px;
    margin: 0;
}

.pager a {
    background: none;
    border: none;
    padding: 0;
}

.pager a:hover, .pager a:focus  {
    background: none;
    border: none;
}

.pager li {
  float: left;
}

/* Social buttons  */

.socialite {
    float: left;
}

.social-buttons {
    list-style: none;
}

.twitter-share {
  margin-bottom: -10px;
  margin-left: -15px;
}

.facebook-like {
  margin-bottom: -10px;
  margin-left: -15px;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #DDD;
}

blockquote > p {
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

time.label {
    float: right;
    clear: both;
    margin-left: 20px;
    margin-bottom: 20px;
}

.post-summary {
    margin: 20px;
    width: 85%;
    padding: 4px 20px;
}

.clear {
    clear: both;
}

.not-clear {
    clear: none;
}

.content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
}

.content img, .content video {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pull-left img, .pull-right img {
    margin-right: 25px;
    margin-left: 25px;
}

/* Styles for specific posts */

.post-content {
  padding: 20px;
}

.post-content > ul {
  padding-left: 40px;
}

/* Styles for specific posts */

.post-info {
    padding-top: 40px;
}

.taglist {
    text-align: right;
}

.project-logo {
    max-width: 80px;
    max-height: 40px;
}

#btn-print {
    float: right;
}

table tr.active {
    background: #f9f9f9;
}

pre {
    clear: both;
}

.mediumfont {
    font-size: 1.2em;
    color: #333333;
    line-height: 1.4em;
}

.mediumfont li {
    line-height: 1.3em;
}

.illustration > img {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 5px #333333 solid;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

.float-right {
    float: right;
    margin-right: 0px;
    margin-left: 30px;
}

.float-left {
    float: left;
    margin-right: 30px;
    margin-left: 0px;
}

/* Reference */

img.reference-logo {
    max-width: 120px;
    max-height: 50px;
    display: inline
}

.reference {
    height: 160px;
}

.reference:hover {
    background: whiteSmoke;
}

.reference h2 {
    text-align: center;
    line-height: 65px;
}

/* The white background content wrapper */

/* Page header tweaks */
.page-header {
    margin: 0 0 0 0;
    border-bottom: none;
    padding-bottom: 0px;
}

.twitter-follow-button {
    margin-bottom: -10px;
}

.navbar-fixed-top {
    padding-bottom: 0 !important;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    min-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    background: #2287c1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #2287c1 0%, #007ac2 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2287c1), color-stop(100%,#007ac2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #2287c1 0%,#007ac2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #2287c1 0%,#007ac2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #2287c1 0%,#007ac2 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #2287c1 0%,#007ac2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2287c1', endColorstr='#007ac2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #AEAEAE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    margin-bottom: 0px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover{
    color: #C6C6C5;
}

.navbar-toggle{
    color: white;
}

.navbar .nav > li > a {
    color: white;
    padding: 20px 20px;
    margin-top: -5px;
    text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 7px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 7px 16px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 7px 16px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-shadow: none;
}

.navbar .nav > li  > a:hover, .navbar .nav > li  > a:focus{
    color: #C6C6C5;
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
}

.nav > li > a > i{
    margin-top: 3px;
}

.btn-group > ul > li > a {
    color: #333;
}

.label {
  font-weight: normal;
}

.label-info, .badge-info {
    background-color: #007ac2;
    line-height: 30px;
}

.btn-group > ul > li {
    list-style: none;
    margin: 0;
}

.btn-group {
    padding-bottom: 20px;
}

/* Software/projects */

img.software-logo {
    max-height: 144px;
    max-width: 233px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.software-excerpt {
    height: auto;
    min-height: 260px;
    margin-bottom: 25px;
    max-width: 500px;
    min-width: 200px;
}

.software-excerpt:hover {
    background: whiteSmoke;
}

.software-excerpt h2 {
    line-height: 65px;
    text-align: center;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    /* background-color: #eee; */
    border: none;
    border-radius: 15px;
    margin: 5px;
}

/* Footer stuff*/

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  padding: 10px;
  text-align: center;
  position: relative;
  clear:both;
  margin-top: 25px;
}

footer ul { list-style: none; text-align: center; padding: 0; }
footer ul li { display: inline-block; padding: 0px 10px;}

/* Commenting stuff */
#disqus_thread{
  margin: 20px 0;
  clear: both;
}

/* For smaller screens*/
@media (max-width: 979px){

  ul.events {
    margin-top: -200px;
  }

  .software-excerpt {
      margin-left: 20%;
      margin-right: 20%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none;
  }

}

@media (max-width: 480px) {
  .software-excerpt {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 1.5em;
  }

}

/* Time line */

.timeline-section {
  min-height: 100vh;
  padding-top: 20px;
}

timeline-section p {
  margin: 0 auto 1em auto;
}

.timeline-section h2 {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.02em;
}
@media all and (min-width: 40em) {
  .timeline-section h2 {
    font-size: 4.75em;
  }
}

.subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}

.l-contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media all and (min-width: 40em) {
  .l-contained {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.timeline-list {
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  list-style: none;
}

.timeline-list li {
  margin: 0 0 3em 0;
  padding: 0 2em 0em 2em;
  position: relative;
}

.timeline-list li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #007ac2;
  border: 5px solid #fff;
  -webkit-animation: revealScaleUp 0.75s 0s ease both 1;
          animation: revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list:before {
  content: "";
  border-left: 5px solid #CCC;
  left: -0.25em;
  top: 2em;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: scaleVertical 3s 1s ease both 1;
          animation: scaleVertical 3s 1s ease both 1;
}
.timeline-list:after {
  content: "";
  clear: both;
  position: absolute;
  bottom: 0px;
  left: -0.7em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #DDD;
  border: 5px solid #DDD;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: revealScaleUp 0.75s 2.82s ease both 1;
          animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.timeline-list {
  -webkit-animation: reveal 2s 0 ease both 1;
          animation: reveal 2s 0 ease both 1;
}

.timeline-list li .content {
  -webkit-animation: revealFromLeft 0.5s 0s ease both 1;
          animation: revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.timeline-list li:nth-child(1) .content {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.timeline-list li:nth-child(2):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.timeline-list li:nth-child(2) .content {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.timeline-list li:nth-child(3):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.timeline-list li:nth-child(3) .content {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.timeline-list li:nth-child(4):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(4) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}


.timeline-list li:nth-child(5):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(5) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.timeline-list li:nth-child(6):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(6) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.timeline-list li:nth-child(7):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(7) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

@-webkit-keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.row {
  list-style: none;
}
